Makefile
Makefile.in
*~
*.o
*.a
*.so
*.la
*.tar*
.deps
m4/l*.m4
config.h
config.log
config.h.in
config.status
config.sub
configure
config.guess
autom4te.cache
aclocal.m4
ar-lib
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
missing
